@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 100px;


  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 20px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

.formbox{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('typewriter.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.home > h1{
  color: white;
}
.home{
  display: flex;
  flex-flow: column;
}
.login {
  width: auto;
}
form {

    position: relative;
    display: inline-block;
    background-color: inherit;
    margin: 0 auto;
    width: 300px;
    top: 350px;

    opacity: 0.9;
  }
form > h1{

    font-size: 3.5rem;

}

label {
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
}

.blog{

  background-color: $red;
}
.flex-nav{

  display: flex;


}
.flex-carousel{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.flex-nav>div{
  background-color: black;
  width: 100%;

}
.flex-carousel > div {
 background-color: inherit;
 margin-left: auto;
 margin-right: auto;
  width: 50%;
  justify-content: center;

}
.flex-carousel > img{
  height: 100%;
}
