@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 100px;


  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 20px;
        line-height: normal;
        color: $white;
      }
    }
  }
}



form {
  position: relative;
  display: inline-block;
  background-color: #333;
  border-radius: 10px;
  margin: auto;
  width: 250px;
  top: 230px;
  bottom: auto;
  height: 140px;
  opacity: 0.8;
}

form:hover {
  box-shadow: 5px 5px 5px $black;
  @include transition(0.4s ease-in-out);
  cursor: pointer;
}
.blog{

  background-color: $red;
}
.flex-nav{

  display: flex;


}
.flex-carousel{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.flex-nav>div{
  background-color: black;
  width: 100%;

}
.flex-carousel > div {
 background-color: inherit;
 margin-left: auto;
 margin-right: auto;
  width: 50%;
  justify-content: center;

}
.flex-carousel > img{
  height: 100%;
}
