@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 100px;

  .logo {
    position: absolute;
    // font-size: 10px;
    top: 18px;
    left: 15px;
    @include translateY(-50%);
    animation: App-logo-spin infinite 10s linear;
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 20px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

body {
  background-image: url("./road_trees_top_view.jpg");
  display: block;
  max-width: 100%;
  height: auto;
}

form {
  position: relative;
  display: inline-block;
  background-color: #333;
  border-radius: 10px;
  margin: auto;
  width: 250px;
  top: 230px;
  bottom: auto;
  height: 140px;
  opacity: 0.8;
}

form:hover {
  box-shadow: 5px 5px 5px $black;
  @include transition(0.4s ease-in-out);
  cursor: pointer;
}

p {
  font-weight: normal;
}

h1 {
  font-weight: normal;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
